<div class='column'>
  <nav class='panel'>
  <p class='panel-heading'>Who to Follow </p>
  </nav>
  <div class='panel-block'>
  <article class='media'>
    <div class='media-left'>
      <figure class='image is-32X32'>
        <img src="https://versions.bulma.io/0.7.0/images/placeholders/32x32.png">
      </figure>
    </div>
    <div class='media-content'>
      <div class='content'>
        <p>
          <strong>John Smith</strong>
          <small>@johnsmith</small>
        </p>
      </div>
    </div>
  </article>
  </div>
  <div class='panel-block'>
  <article class='media'>
    <div class='media-left'>
      <figure class='image is-32X32'>
        <img src="https://versions.bulma.io/0.7.0/images/placeholders/32x32.png">
      </figure>
    </div>
    <div class='media-content'>
      <div class='content'>
        <p>
          <strong>Michael Angelo</strong>
          <small>@magenlo</small>
        </p>
      </div>
    </div>
  </article>
  </div>
  <div class='panel-block'>
  <article class='media'>
    <div class='media-left'>
      <figure class='image is-32X32'>
        <img src="https://versions.bulma.io/0.7.0/images/placeholders/32x32.png">
      </figure>
    </div>
    <div class='media-content'>
      <div class='content'>
        <p>
          <strong>John Doe</strong>
          <small>@johndoe</small>
        </p>
      </div>
    </div>
  </article>
  </div>
</div>